@import "variables";
@import "functions";

.authPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
}

.authForm {
    position: relative;
    width: calc-rem(470px);
    height: calc-rem(400px);
    border-radius: calc-rem(10px);
    background-color: $semi-heavy-mint-color;
    box-shadow: 0 0 calc-rem(6px) $heavy-mint-color;
    padding: calc-rem(76px) calc-rem(86px) calc-rem(30px) calc-rem(86px);

    input:first-of-type {
        margin-bottom: calc-rem(35px);
    }

    button {
        display: block;
        margin: auto;
        width: calc-rem(140px);
        margin-bottom: calc-rem(8px);
    }

    p {
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }

    p.resetPassword {
        visibility: hidden;
        margin-top: calc-rem(10px);
        margin-bottom: calc-rem(35px);
        font-weight: 500;
        font-size: calc-rem(16px);
        line-height: calc-rem(20px);
        text-align: right;
        color: #ebfcf7;
    }

    p:last-of-type {
        font-style: normal;
        font-weight: 500;
        font-size: calc-rem(16px);
        line-height: calc-rem(20px);
        text-align: center;
        color: #ebfcf7;
    }
}
