@import "functions";
@import "variables";

.photos-grid{
    width: 82%;
    height: 80%;
    padding-right: 2%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    &__item{
        flex: 0 0 calc(100% / 3);
        height: 50%;
        overflow: hidden;
        cursor: pointer;
    }

    &__solo-photo{
        height: 100%;
        width: 80%;
        margin: auto;
    }
}

.custom-modal-header{
    >div{
        img{
            cursor: pointer;
            transition: opacity .1s ease-out;

            &:hover{
                opacity: .7;
            }
        }
    }
}