@import "functions";
@import "variables";

.profile {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    > div:first-child {
        flex-basis: 43.5%;
        max-height: 43.5%;
        display: flex;
        margin-bottom: 2.8%;
    }
}
