@import "functions";
@import "variables";

.profile {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .mainInfo,
    .userHobbies,
    .userPhotos {
        position: relative;
        background-color: $semi-heavy-mint-color;
        border-radius: calc-rem(10px);
    }

    > div:first-child {
        flex-basis: $side-nav-height;
        max-height: 43.5%;
        display: flex;
        margin-bottom: 2.8%;

        .mainInfo {
            flex: 1 0 57%;
            margin-right: 3%;
            display: flex;
            justify-content: center;
            align-items: center;

            > div {
                display: flex;
                height: 90%;
                width: 90%;

                div.avatarContainer {
                    flex: 1 0 45%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 80%;
                    margin-right: 5%;
                    padding: calc-rem(16px);
                    border: calc-rem(1px) solid $light-mint-color;
                    border-radius: calc-rem(5px);

                    > img {
                        height: 100%;
                        width: 100%;
                        border-radius: inherit;
                        object-fit: cover;
                        object-position: center;
                    }

                    > div:last-of-type {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                        opacity: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 20%;
                        background-color: rgba(0, 0, 0, 0.3);
                        border-radius: 0 0 5px 5px;
                        cursor: pointer;
                        transition: all 0.1s linear;

                        img{
                            height: calc-rem(30px);
                            margin-right: calc-rem(6px);
                        }

                        > span {
                            font-size: calc-rem(18px);
                            line-height: calc-rem(22.5px);
                        }

                        &:hover {
                            > img,
                            > span {
                                opacity: 0.7;
                            }
                        }
                    }

                    &:hover > div:last-of-type {
                        z-index: 1;
                        opacity: 1;
                    }
                }

                form {
                    flex: 1 0 50%;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    overflow: hidden;
                    
                    > div {
                        overflow: auto;
                        padding-right: calc-rem(14px);
                        margin-bottom: calc-rem(10px);

                        &::-webkit-scrollbar-thumb {
                            background-color: $heavy-mint-color;
                        }

                        label {
                            font-size: calc-rem(18px);
                            line-height: calc-rem(22.5px);
                        }

                        input {
                            font-size: calc-rem(16px);
                            line-height: calc-rem(20px);
                            height: calc-rem(38px);
                        }
                    }

                    button[type=submit]{
                        margin-right: calc-rem(14px);
                        align-self: flex-end;
                    }
                }
            }
        }

        .userHobbies {
            flex: 1 0 39%;
        }
    }

    .userPhotos {
        flex-basis: 39%;
        max-height: 39%;
    }
}
