@import "functions";
@import "variables";

.chat {
    height: 100%;

    .content {
        width: 65%;
        height: 95%;
        background-color: $semi-heavy-mint-color;
        border-radius: calc-rem(10px);
        padding: calc-rem(28px);

        >div{
            display: flex;
            flex-direction: column;
            height: 100%;

            >.chatsContainer{
                flex: 1 0;
                position: relative;
                overflow: auto;
                margin-top: calc-rem(23px);
                background-color: $light-mint-color;
                border-radius: calc-rem(10px);

                >p{
                    width: 90%;
                    margin: calc-rem(16px) auto;
                    color: $heavy-mint-color;
                    font-size: calc-rem(20px);
                    line-height: calc-rem(24px);
                    font-weight: 500;
                    text-indent: calc-rem(20px);
                }

                &::-webkit-scrollbar-thumb{
                    background-color: $heavy-mint-color;
                }
            }
        }
    }
}
