@import "../../../variables";

.customInput {
    input {
        background-color: $light-mint-color;

        &:focus,
        &:active {
            outline: none;
            border-color: $light-mint-color;
            box-shadow: 0 0 10px $light-mint-color;
        }

        &[type="radio"]{
            margin-top: .4rem;
        }
    }

    label{
        color: $light-mint-color;
        font-size: 1.15rem;
    }
}

.customSelect{
    :global(.dropdown){
        &>button{
            width: 100%;
            padding: 0;
            border: none;
        }
    }
}
