@import "functions";
@import "variables";

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.chat {
    background-color: $semi-heavy-mint-color;
    border-radius: calc-rem(10px);
    width: 75%;
    height: 90%;
    padding: calc-rem(20px);

    > div {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: inherit;
        background-color: $light-mint-color;
        color: $heavy-mint-color;

        > .messagesContainer {
            overflow: auto;
            flex: 1 0 70%;
            display: flex;
            flex-direction: column;
            padding: calc-rem(23px);

            .message {
                display: flex;
                width: 70%;
                flex-basis: calc-rem(94px);
                margin-bottom: calc-rem(40px);

                > img {
                    height: calc-rem(75px);
                    width: calc-rem(75px);
                    object-fit: cover;
                    border-radius: 50%;
                    margin-top: auto;
                }

                > .messageContent {
                    flex: 1;
                    position: relative;
                    border: calc-rem(1px) solid $heavy-mint-color;
                    border-radius: calc-rem(10px);
                    margin-left: calc-rem(30px);
                    padding: calc-rem(8px) calc-rem(20px);

                    &::before,
                    &::after {
                        background-color: $heavy-mint-color;
                        height: calc-rem(1px);
                        display: block;
                        content: "";
                        position: absolute;
                    }

                    &::before {
                        left: calc-rem(-30px);
                        bottom: calc-rem(37px);
                        width: calc-rem(30px);
                    }

                    &::after {
                        left: calc-rem(-35px);
                        bottom: calc-rem(52px);
                        width: calc-rem(40px);
                        transform: rotate(-45deg);
                    }

                    > p {
                        font-size: calc-rem(20px);
                        line-height: calc-rem(25px);

                        &:first-of-type {
                            font-weight: 700;
                        }

                        &:last-of-type {
                            font-weight: 500;
                            overflow-wrap: break-word;
                            word-break: break-word;
                        }
                    }
                }

                > span:last-of-type {
                    margin-left: calc-rem(20px);
                }

                &.ownMessage {
                    margin-left: auto;
                    flex-direction: row-reverse;

                    > .messageContent {
                        margin-left: initial;
                        margin-right: calc-rem(30px);

                        &::before {
                            left: unset;
                            right: calc-rem(-30px);
                            bottom: calc-rem(37px);
                            width: calc-rem(30px);
                        }

                        &::after {
                            left: unset;
                            right: calc-rem(-35px);
                            bottom: calc-rem(52px);
                            width: calc-rem(40px);
                            transform: rotate(45deg);
                        }

                        > p {
                            text-align: right;
                        }
                    }

                    > span:last-of-type {
                        margin-left: unset;
                        margin-right: calc-rem(20px);
                    }
                }
            }

            &::-webkit-scrollbar-thumb{
                background-color: $heavy-mint-color;
            }
        }

        > .messageInputContainer {
            display: flex;
            overflow: hidden;
            align-items: flex-end;
            padding: calc-rem(25px);

            > div[contenteditable] {
                position: relative;
                height: 100%;
                overflow: auto;
                overflow-wrap: anywhere;
                flex: 1 0 92.5%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                flex-wrap: wrap;
                margin-right: 2.5%;
                padding-bottom: calc-rem(5px);
                border-bottom: calc-rem(2px) solid $heavy-mint-color;
                font-size: calc-rem(22px);
                font-weight: 500;
                line-height: calc-rem(27.5px);

                &:active,
                &:focus {
                    outline: none;
                }

                &[placeholder="true"] {
                    color: transparent;

                    &::before {
                        color: $heavy-mint-color;
                        position: absolute;
                        left: 0;
                        bottom: calc-rem(5px);
                        display: block;
                        content: "Ваше сообщение...";
                        cursor: text;
                    }

                    &:focus::after {
                        display: block;
                        content: "";
                        position: absolute;
                        bottom: calc-rem(5px);
                        left: 0;
                        height: calc-rem(27.5px);
                        width: calc-rem(2px);
                        background-color: $heavy-mint-color;
                        animation: cursor-blink 0.8s infinite;
                    }
                }
            }

            > .messageSendButtonContainer {
                position: relative;
                width: 5%;

                > img {
                    width: 100%;
                    cursor: pointer;
                    transition: opacity 0.15s ease-out;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
