@import "functions";
@import "variables";

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    padding-left: $content-side-margin;
    padding-right: $content-side-margin;
    height: 10%;
    background-color: $semi-heavy-mint-color;

    > div {
        display: flex;
        justify-content: space-between;
        height: 60%;
        width: 100%;

        > img {
            cursor: pointer;
            
            &:hover {
                opacity: 0.7;
            }
        }

        > div {
            height: 100%;
            font-size: calc-rem(24px);
            line-height: calc-rem(30px);

            > img {
                height: 100%;
                max-width: calc-rem(70px);

                &:first-of-type {
                    border-radius: 50%;
                    margin-right: calc-rem(17px);
                }

                &:last-of-type {
                    margin-left: calc-rem(15px);
                }

                &,
                + span {
                    cursor: pointer;
                    transition: opacity 0.1s linear;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.content {
    display: flex;
    height: 85.5%;
    margin-left: $content-side-margin;
    margin-right: $content-side-margin;

    .side-nav {
        flex: 1 0 24.5%;
        height: $side-nav-height;
        display: flex;
        flex-direction: column;
        padding-bottom: calc-rem(20px);
        background-color: $semi-heavy-mint-color;
        border: calc-rem(1px) solid $light-mint-color;
        border-radius: calc-rem(10px);

        *:first-child {
            border-radius: calc-rem(10px) calc-rem(10px) 0 0;
        }

        > a,
        .brief-statistics-row {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        > a {
            font-size: calc-rem(24px);
            line-height: calc-rem(30px);
            text-decoration: none;
            color: $light-mint-color;
            transition: all 0.12s ease-out;

            &.active {
                background-color: $heavy-mint-color;
            }
            &:not(.active):hover {
                background-color: $light-mint-color;
                color: $semi-heavy-mint-color;
            }
        }

        .brief-statistics-row {
            font-size: calc-rem(14px);
            line-height: calc-rem(17.5px);
            border-top: calc-rem(1px) solid $light-mint-color;
            border-bottom: calc-rem(1px) solid $light-mint-color;
        }
    }

    main{
        flex: 1 0 75.5%;
        padding-left: $content-side-margin;
        height: 100%;
    }
}
