@import "../../../variables";

nav.header {
    height: $header-height;
    background-color: $heavy-mint-color;
    padding:.5rem 3rem;

    :global(.navbar-brand) {
        height: 100%;

        img {
            height: 100%;
            cursor: pointer;
        }
    }
}

.sideNav {
    position: fixed;
    top: $header-height;
    width: $side-nav-width;
    padding: $space-after-header 0.3rem 0 3rem;
    font-size: 1.2rem;

    & > a {
        display: block;
        float: right;
        width: 100%;
        color: black;
        background-color: $heavy-mint-color;
        text-align: right;
        text-decoration: none;
        border:1px solid transparent;
        padding: .7rem 1.4rem;
        transition: opacity .3s ease-out;
        color: $light-mint-color;

        &:first-child{
            border-radius: 10px 10px 0 0;
        }
        &:last-child{
            border-radius: 0 0 10px 10px;
        }
        
        &:hover{
            opacity: .5;
            color: $light-mint-color;
            text-decoration: none;
        }

        &.active{
            opacity: .7;
        }

    }
}

.page {
    position: relative;
    height: 100vh - $header-height;
    padding-top: $space-after-header;

    .content {
        height: 100%;
        padding-left: $side-nav-width + 3vw;
    }

    &.auth {
        height: 100vh;

        .content {
            padding-left: 0;
        }
    }
}
