@import "functions";
@import "variables";

$hobbiesPerLine: 3;

.user-profile-modal.custom-modal.modal-dialog {
    .modal-header {
        flex-basis: calc-rem(67px);
        padding: calc-rem(9px) calc-rem(27px);

        .modal-title {
            height: 100%;

            .custom-modal-header {
                height: 100%;
                align-items: center;

                > div:last-of-type {
                    img {
                        height: calc-rem(30px);
                        width: calc-rem(30px);
                    }
                }
            }
        }
    }

    .modal-body {
        flex: 1 1;
    }

    .modal-footer {
        flex-basis: calc-rem(73px);
        padding: calc-rem(9px) calc-rem(27px);
        background-color: $semi-heavy-mint-color;
    }

    .modal-content {
        .user-profile-modal__content {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: $semi-heavy-mint-color;
            padding: calc-rem(24px) 0 calc-rem(17px);

            &__navs {
                flex: 1 0 15%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: calc-rem(5px) 0 calc-rem(14px);
                border-left: calc-rem(1px) solid $light-mint-color;

                > div {
                    height: calc-rem(55px);
                    width: calc-rem(55px);

                    img {
                        cursor: pointer;
                        height: 100%;
                        width: 100%;
                        transition: opacity 0.15s linear;

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }

            &__tab {
                flex: 1 0 85%;
                overflow: hidden;

                > div {
                    position: relative;

                    &.other-user-profile__info-tab {
                        display: flex;
                        height: 100%;
                        width: 100%;

                        .info-tab__col {
                            flex: 1 0;
                            padding: 0 calc-rem(27px);

                            &:first-of-type {
                                overflow: hidden;
                                border-right: calc-rem(1px) solid
                                    $light-mint-color;

                                .avatar-container {
                                    position: relative;
                                    height: 80%;
                                    width: 100%;
                                    border-radius: calc-rem(10px);
                                    overflow: hidden;

                                    > img {
                                        height: 100%;
                                        width: 100%;
                                        object-fit: cover;
                                    }
                                }

                                .statuses-container {
                                    position: relative;
                                    display: flex;
                                    justify-content: space-around;
                                    margin-top: calc-rem(10px);

                                    > img {
                                        height: calc-rem(25px);
                                        width: calc-rem(25px);
                                        cursor: pointer;
                                        opacity: 0.3;
                                        transition: opacity 0.15s linear;

                                        &:hover {
                                            opacity: 0.7;
                                        }

                                        &.active {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }

                            &:last-of-type {
                                flex: 1 0 17%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                overflow-y: auto;

                                > img {
                                    width: calc-rem(40px);
                                    height: calc-rem(40px);

                                    &:nth-of-type(2) {
                                        margin-top: calc-rem(10px);
                                        height: calc-rem(35px);
                                        width: calc-rem(35px);
                                    }
                                }

                                &::-webkit-scrollbar-thumb{
                                    background-color: $heavy-mint-color;
                                }
                            }

                            &:last-of-type {
                                position: relative;

                                p {
                                    font-size: calc-rem(22px);
                                    line-height: calc-rem(27px);
                                    color: $heavy-mint-color;
                                    text-align: center;
                                    margin-bottom: calc-rem(17px);

                                    &:first-of-type {
                                        font-size: calc-rem(26px);
                                        font-weight: 700;
                                        line-height: calc-rem(32px);
                                        text-transform: uppercase;
                                        color: $light-mint-color;
                                        margin-bottom: calc-rem(1px);
                                    }
                                    &:nth-of-type(2) {
                                        font-size: calc-rem(16px);
                                        line-height: calc-rem(20px);
                                        color: $light-mint-color;
                                    }
                                }
                            }
                        }
                    }

                    &.other-user-profile__photos-tab {
                        height: 100%;
                        width: 100%;
                        padding: 0 calc-rem(10px);

                        > .photos-tab__carousel-container {
                            height: 100%;
                            width: 100%;

                            .custom-carousel__arrow {
                                flex: 0 0 10%;
                            }

                            .image-container {
                                height: 100%;
                                width: 100%;
                                position: relative;

                                > img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }

                                > div {
                                    height: 100%;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    visibility: hidden;
                                    opacity: 0;
                                    z-index: -1;
                                    background-color: rgba(0, 0, 0, 0.3);
                                    transition: all 0.15s ease-out;

                                    > img {
                                        width: calc-rem(60px);
                                        height: calc-rem(60px);
                                        cursor: pointer;
                                        margin-right: calc-rem(10px);
                                    }

                                    > span {
                                        font-size: calc-rem(36px);
                                        line-height: 1.15;
                                    }
                                }

                                &:hover {
                                    > div {
                                        z-index: 1;
                                        visibility: visible;
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }

                    &.other-user-profile__hobbies-tab {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        padding: 0 calc-rem(32px);

                        > div {
                            &:first-of-type {
                                display: flex;
                                align-items: center;

                                > span {
                                    font-size: calc-rem(22px);
                                    line-height: calc-rem(27px);
                                    font-weight: 700;
                                    margin-right: calc-rem(10px);
                                }

                                > .custom-switch-button {
                                    margin-top: calc-rem(5px);
                                }
                            }

                            &.hobbies-container {
                                display: flex;
                                flex-wrap: wrap;
                                overflow: auto;
                                padding: calc-rem(15px) calc-rem(10px) 0 0;

                                > .user-hobby {
                                    flex: 0 0 calc(90% / #{$hobbiesPerLine});
                                    margin-bottom: calc-rem(15px);

                                    &:not(:nth-of-type(#{$hobbiesPerLine}n)) {
                                        margin-right: calc(
                                            9% / #{$hobbiesPerLine - 1}
                                        );
                                    }
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: $heavy-mint-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
