$fs: 16px;
$ff: Quicksand;

// layout
$content-side-margin: 2.3%;
$side-nav-height: 43.5%;

/*
themes
light
*/
$light-mint-color: #ebfcf7;
$semi-heavy-mint-color: #7fd4bc;
$heavy-mint-color: #5c9a88;

/*shared colours*/
$red: #f95a5a;
$yellow: #f4d072;
$green: #bcef9d;
$blue: #9deaef;