$fs: 16px;
$ff: Quicksand;

// layout
$header-height: 10vh;
$side-nav-width: 20vw;
$space-after-header: 4rem;

/*
themes
light
*/
$light-mint-color: #ebfcf7;
$semi-heavy-mint-color: #7fd4bc;
$heavy-mint-color: #5c9a88;

/*shared colours*/
$red: #f95a5a;
$yellow: #f4d072;
$green: #bcef9d;
$blue: #9deaef;
