@import './variables';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $fs;
    font-family: $ff;
    height: 100vh;
    background-color: $light-mint-color;
}

#root{
    height: 100%;
}