@import "variables";
@import "functions";
@import "./mixins";

//medias
html {
    @include medias();
}

body {
    height: 100vh;
    color: $light-mint-color;
    
    #root {
        height: 100%;
    }
}

@mixin dark-button {
    border-color: $light-mint-color;
    background-color: $semi-heavy-mint-color;
    color: $light-mint-color;
}

@mixin light-button {
    border-color: $semi-heavy-mint-color;
    background-color: $light-mint-color;
    color: $semi-heavy-mint-color;
}

body {
    font-family: $ff;
    background-color: $light-mint-color;
    box-sizing: border-box;
    @include medias()
}

input.form-control {
    background-color: #ebfcf7;
    border: calc-rem(1px) solid #7fd4bc;
    box-shadow: calc-rem(0px) calc-rem(4px) calc-rem(4px) rgba(0, 0, 0, 0.25);
    border-radius: calc-rem(5px);
    font-style: normal;
    font-weight: 500;
    font-size: calc-rem(20px);
    line-height: calc-rem(25px);
    padding-left: calc-rem(10px);
    color: #5c9a88;
    transition: transform 0.3s ease-out;

    &[type='date']{
        &::-webkit-calendar-picker-indicator{
            background-image: url('images/calendar.svg');
            // background-size: cover;
            cursor: pointer;
        }
    }

    &:focus {
        background-color: #ebfcf7;
        color: #5c9a88;
        box-shadow: calc-rem(0px) calc-rem(4px) calc-rem(4px)
            rgba(0, 0, 0, 0.25);
        transform: scale(1.05) perspective(#{alc-rem(1px)});
        backface-visibility: hidden;
    }
}

button.btn {
    padding: calc-rem(8px) calc-rem(20px);
    background: #7fd4bc;
    border-width: calc-rem(1px);
    border-style: solid;
    border-radius: calc-rem(5px);

    font-style: normal;
    font-weight: 500;
    font-size: calc-rem(16px);
    line-height: calc-rem(20px);
    text-align: center;
    box-shadow: none;

    transition: all 0.3s ease-out;

    &:active,
    &:focus {
        box-shadow: none !important;
        outline: none;
    }

    &.dark {
        @include dark-button();

        &:hover,
        &:active:focus {
            @include light-button();
        }
    }
}

::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: calc-rem(6px);
    height: calc-rem(0px);
}

::-webkit-scrollbar-track {
    background-color: $light-mint-color;
    -webkit-border-radius: calc-rem(5px);
    border-radius: calc-rem(5px);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: calc-rem(5px);
    border-radius: calc-rem(5px);
    background-color: $semi-heavy-mint-color;
}

::-webkit-scrollbar {
    width: calc-rem(8px);
}
