$preview-height: 70%;
$animation-duration: .5s;

@keyframes appear-icon {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes appear-preview {
    0% {
        flex-basis: 0;
    }
    51%{
        flex-basis: 0;
    }
    100% {
        flex-basis: 100%;
    }
}

@keyframes appear-preview-beginning{
    0%{
        width: 0;
    }
    50%{
        width: 0;
    }
    100%{
        width:50%;
    }
}

.notifications {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    padding-bottom: 5rem;
    padding-left: 0.7rem;
}

.notification {
    z-index: 100;
    cursor: pointer;
    display: flex;
    height: 4rem;
    margin-bottom: 1.5rem;

    &.error .preview p,
    &.error .icon {
        background-color: red;
    }

    &.warning .preview p,
    &.warning .icon {
        background-color: yellow;
    }

    &.message .preview p,
    &.message .icon {
        background-color: cyan;
    }

    &.success .preview p,
    &.success .icon {
        background-color: green;
    }

    .icon {
        position: relative;
        border: 1px solid;
        border-radius: 50%;
        height: 100%;
        background-color: inherit;
        animation: appear-icon $animation-duration ease;

        img {
            height: 100%;
        }

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -5%;
            z-index: -100;
            margin-top: auto;
            margin-bottom: auto;
            height: $preview-height;
            background-color: inherit;
            width: 50%;
            animation: appear-preview-beginning $animation-duration * 2 ease;
        }
    }

    div.preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        flex-basis: 100%;
        animation: appear-preview $animation-duration * 2 ease;

        p {
            display: flex;

            overflow: hidden;
            align-items: center;

            height: $preview-height;
            margin-bottom: 0;
            padding: 0 1rem 0 1rem;
            border-radius: 0 1rem 1rem 0;

            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
