@import "variables";

@keyframes appear-sign {
    0% {
        transform: translateX(-100%);
        width: 54px;
    }

    50% {
        transform: translateX(0);
        width: 54px;
    }

    100% {
        width: 100%;
    }
}

.notifications {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    padding-left: 3rem;
    padding-bottom: 3rem;

    .notification {
        border-radius: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        max-width: 300px;
        margin-top: 1.5rem;
        overflow: hidden;
        animation: 0.8s appear-sign;

        &.error {
            background-color: $red;
            color: $semi-heavy-mint-color;
        }
        &.warning {
            background-color: $yellow;
        }
        &.success {
            background-color: $green;
        }
        &.message {
            background-color: $blue;
        }

        .title {
            display: flex;
            align-items: center;
            padding-left: 8px;
            padding-right: 19px;

            > span {
                display: block;
                flex-basis: 100%;
                padding-left: 19px;
                padding-right: 9px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
            }

            > img:last-of-type {
                cursor: pointer;
                transition: all 0.1s linear;
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .details {
            max-height: 0px;
            overflow: hidden;
            text-align: left;
            padding-right: 10px;
            transition: max-height 0.3s ease-out;
        }

        &.open {
            .title {
                padding-bottom: 8px;
                border-bottom: 1px solid $semi-heavy-mint-color;
            }

            .details {
                max-height: 140px;
                overflow-y: scroll;
                margin: 8px 19px 15px 18px;
            }
        }
    }
}
