.loaderContainer{
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 100%;
    width: 100%;
    opacity: .3;
    border-radius: inherit;
}